.theme-bonito_azul {
    --primary-color: #008fc3;
    --secondary-color: #2c5c3a;
    --accent-color: #e67e22;
    --page-bg-color: #f0f4f8;
    --card-bg-color: #ffffff;
    --text-primary-color: #2c3e50;
    --text-secondary-color: #777777;
    --border-color: #dde4ea;
    --footer-bg-color: #1d2a35;
    --scrollbar-thumb-color: #008fc3;
    --scrollbar-track-color: #f0f4f8;
}