.theme-pantanal_verde {
    --primary-color: #2c5c3a;
    --secondary-color: #008fc3;
    --accent-color: #e67e22;
    --page-bg-color: #f4f2e9;
    --card-bg-color: #ffffff;
    --text-primary-color: #2c3e50;
    --text-secondary-color: #777777;
    --border-color: #e8e8e8;
    --footer-bg-color: #2c5c3a;
    --scrollbar-thumb-color: #2c5c3a;
    --scrollbar-track-color: #f4f2e9;
}