services:
  app:
    container_name: pantanal_ecotrips
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4001:4000"
    env_file:
      - .env
    restart: always
    networks:
      - default
      
networks:
  default:
    driver: bridge