// // src/css/quasar.variables.scss

// $primary   : #2c5c3a; // Verde escuro, remetendo à floresta
// $secondary : #008fc3; // Azul vibrante dos rios e céu
// $accent    : #e67e22; // Laranja/Terracota, do pôr do sol e da terra

// $dark      : #2c3e50; // Um cinza-azulado escuro para textos, mais profissional que preto puro
// $dark-page : #f7f7f7; // Fundo quase branco, super limpo

// $positive  : #21ba45;
// $negative  : #c10015;
// $info      : #31ccec;
// $warning   : #f2c037;